body {
  min-width: 300px;
  max-width: 400px;
  margin: 10px auto;
}

#tumbleweed {
  text-align: center;
}

#versions table {
  width: 100%;
  border-spacing: 5px;
  border-collapse: separate;
}

#versions thead th {
  text-align: left;
}

#versions tr.updated {
  background-color: #eee;
}

#versions th {
  text-align: center;
}

#versions td {
  text-align: right;
}

#versions td:first-child {
  text-align: left;
  width: 100%;
}
