body {
  min-width: 300px;
  max-width: 500px;
  margin: 10px auto;
}

#tumbleweed {
  text-align: center;
}

#versions table {
  width: 100%;
  border-spacing: 5px;
  border-collapse: separate;
}

#versions tr.updated {
  background-color: #eee;
}

#versions tbody th {
  text-align: center;
  padding-top: 10px;
}

#versions thead th, #versions td {
  text-align: right;
}

#versions thead th:first-child, #versions td:first-child {
  text-align: left;
  width: 100%;
}
